body{

    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{

    display: flex;
}
.half{
    width: 50%;
    padding-left: 2%;
    text-align: justify;
}

.half img{
    width: 50%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.part-2{
    width: 50%;
    padding-top: 60px;
    padding-left: 2px;
    padding-right: 60px;
    text-align: justify;
}
.part-2 img{
    width: 50%;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}